<router-outlet></router-outlet>

<!-- <app-devices></app-devices> -->
<!-- <app-device-details></app-device-details> -->



<div *ngIf="display; then thenBlock; else elseBlock"></div>
    <ng-template #thenBlock >
        <h1>this is swamy</h1>
    </ng-template> 
    
    <ng-template #elseBlock>
        <h2>this is not swamy</h2>
    </ng-template>


    <input type="text"  [(ngModel)]="color" value="HAi">


    <div [ngSwitch]="color">
        <p *ngSwitchCase="'red'">you choosed red coluor</p>
        <p *ngSwitchCase="'green'">you choosed green colour</p>
        <p *ngSwitchCase="'yellow'">you choosed yellow colour</p>
        <p *ngSwitchCase="'blue'">you choosed blue colour</p>
        <p *ngSwitchCase="'black'">you choosed black colour</p>
        <p *ngSwitchDefault>pick again</p>
    </div>


<div class="container">
    <h1>FRUITS:</h1>
    <div class="col-sm-2">
        
        <div *ngFor="let fruit of fruits; index as i">
            <h3>{{i}} {{fruit}}</h3>
        </div>
    </div>
    <div class="col-sm-2">
        <!-- <h1>FRUITS:</h1> -->
        <div *ngFor="let fruit of fruits; first as f">
            <h3>{{f}} {{fruit}}</h3>
        </div>
    </div>
    <div class="col-sm-2">
        <!-- <h1>FRUITS:</h1> -->
        <div *ngFor="let fruit of fruits; last as lst">
            <h3>{{lst}} {{fruit}}</h3>
        </div>
    </div>
    <div class="col-sm-2">
        <!-- <h1>FRUITS:</h1> -->
        <div *ngFor="let fruit of fruits; odd as o">
            <h3>{{o}} {{fruit}}</h3>
        </div>

    </div>
    <div class="col-sm-2">
        <!-- <h1>FRUITS:</h1> -->
        <div *ngFor="let fruit of fruits; even as e">
            <h3>{{e}} {{fruit}}</h3>
        </div>
    </div>
</div>

